header {
  width: 100%;
  top: 0;
}
.header-conteiner {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  background: rgb(148, 158, 163);
}
header h1 {
  margin-left: 15px;
  font-size: 35px;
  color: #ffffff;
  text-transform: uppercase;
}
header h1::before {
  content: url(../images/);
}

.nav {
  margin-left: 300px;
}
.ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.li {
  margin-left: 40px;
  font-size: 20px;
}
.li a {
  color: #ffffff;
}
.li a:hover {
  color: red;
}

.burger {
  /* display: none; */
  padding: 11.2px;
  border: 1px solid #ffffff;
  outline: 1.8px solid rgb(114, 125, 131);
  background: rgb(148, 158, 163);
}
.burger div {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 3px;
  background: #ffffff;
  border: 1px solid #ffffff;
  outline: 1.8px solid rgb(29, 79, 104);
  background: rgb(25, 48, 59);
}

.burger div:last-of-type {
  margin-top: -0.5px;
}

@media screen and (max-width: 767px) {
  header nav {
    display: none;
    padding: 30% 0;
  }
  .burger {
    display: block;
    margin-right: 15px;
  }
}

@media screen and (max-width: 1024px) {
  header nav {
    display: none;
  }
  .burger {
    display: block;
    margin-right: 15px;
  }
  .header-h {
    margin-left: 5%;
  }
}

@media screen and (min-width: 1200px) {
  header nav {
    width: auto;
    margin: auto;
  }
  header ul {
    width: auto;
  }
}

/*  s*********** section 1********************************* */

.presentation {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 759px;
  background: rgb(255, 255, 255);
  text-align: center;
  background-image: linear-gradient(rgba(3, 3, 3, 0.288), rgba(3, 3, 3, 0.288)),
    url(../images/dimitry-anikin-NN3M8sHfsMU-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.left-btn,
.right-btn {
  width: 23px;
  height: 37px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}
.left-btn {
  left: 50px;
  top: 111px;
  position: absolute;
  content: url(../images/prev_arrow.svg);
  fill: #ffffff;
}
.right-btn {
  right: 50px;
  top: 111px;
  position: absolute;
  content: url(../images/next_arrow.svg);
  fill: #ffffff;
}
.text {
  position: relative;
  z-index: 3;
  margin-bottom: 13px;
}
.text h4 {
  font-size: 62px;
  font-weight: 100;
  word-spacing: -2px;
  color: #ffffff;
  margin-bottom: -1px;
  margin-left: 16px;
  font-family: "Lato", sans-serif;
  font-family: "Raleway", sans-serif;
}
.text h3 {
  font-size: 75px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 6px;
  margin-left: 8px;
  line-height: 1.2;
  text-align: center;
  word-spacing: -5px;
  font-family: "Montserrat", sans-serif;
}
.text p {
  margin-bottom: 40px;
  margin-left: 16px;
  color: #ffffffa4;
  font-size: 20px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  letter-spacing: -0.1px;
}

.mobile {
  display: none;
}
.text a {
  display: inline-block;
  margin-left: 24px;
  padding: 11px 30px 12px;
  border: 1px solid #d8d5d5;
  outline: 3px solid #ffffff;
  background: ivory;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -0.1px;
  text-decoration: none;
}

/* *** fonts and arrows*** *****************/

@media screen and (max-width: 1025px) {
  .left-btn,
  .right-btn {
    display: none;
  }
  .text h4 {
    font-size: 45px;
    word-spacing: 2px;
    letter-spacing: 0.2;
  }
  .text h3 {
    font-size: 55px;
    word-spacing: 2px;
    letter-spacing: 0.2;
  }
  .mobile {
    display: block;
    font-size: 20px;
  }
}
@media screen and (max-width: 950px) {
  .left-btn,
  .right-btn {
    display: none;
  }
  .text h4 {
    font-size: 35px;
    word-spacing: 2px;
    letter-spacing: 0.2;
  }
  .text h3 {
    font-size: 45px;
    word-spacing: 2px;
    letter-spacing: 0.2;
  }
  .mobile {
    display: block;
    font-size: 15px;
  }
  .text p {
    display: none;
  }
  .text a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 767px) {
  .left-btn,
  .right-btn {
    display: none;
  }
  .text h4 {
    font-size: 25px;
    word-spacing: 2px;
    letter-spacing: 0.2;
  }
  .text h3 {
    font-size: 35px;
    word-spacing: 2px;
    letter-spacing: 0.2;
  }
  .mobile {
    display: block;
    font-size: 10px;
  }
  .text p {
    display: none;
  }
  .text a {
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .presentation {
    height: auto;
  }
}
@media screen and (max-width: 320px) {
  .left-btn,
  .right-btn {
    display: none;
  }
  .text h4 {
    font-size: 15px;
    word-spacing: 2px;
    letter-spacing: 0.2;
  }
  .text h3 {
    font-size: 25px;
    word-spacing: 2px;
    letter-spacing: 0.2;
  }
  .mobile {
    display: block;
    font-size: 10px;
  }
  .text p {
    display: none;
  }
  .text a {
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .presentation {
    height: auto;
  }
}

/* **** footer**************************** */
.footer {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  background-color: rgb(148, 158, 163);
  padding-top: 40px;
}
.footer-h1 {
  display: flex;
  width: 123px;
  height: 42px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 6px;
}
.footer-h1::before {
  content: url();
  display: inline-block;
}
.footer-icons {
  width: 294px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.email {
  height: 20px;
  width: 20px;
  content: url(../images/footer-meil.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a7a5a5;
  cursor: pointer;
}
.tw {
  width: 20px;
  height: 20px;
  content: url(../images/Twitter.png);
  cursor: pointer;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.fb {
  width: 20px;
  height: 20px;
  content: url(../images/Facebook.png);
  cursor: pointer;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.footer-p {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
}

.footer-icons a:hover {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 460px) {
  .footer-icons {
    display: grid;
    grid-gap: 3%;
    grid-row-gap: 10%;
    grid-template-columns: repeat(3, 1fr);
    width: 30%;
    justify-content: center;
    padding-bottom: 5%;
  }
  .footer-p {
    margin-top: 5%;
    padding-bottom: 10%;
  }
  footer {
    height: auto;
    margin: auto;
  }
}
